// animations 

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
.animate__fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  animation-duration: 2s;
}

.container-fluid{
  -webkit-transition: background-color 3s ease-in-out;
  -ms-transition: background-color 3s ease-in-out;
  transition: background-color 3s ease-in-out;
}