<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Error</title>

  <style>
    .container {
      height: 100vh;
      background:  radial-gradient( circle farthest-corner at 10% 20%,  rgba(234,199,199,1) 0%, rgba(181,188,243,1) 99.3% );
    }
    .row {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%);
    }
    
    h2{
      color: black;
    }
  </style>
</head>
<body>

<div class="container">
  <div class="row">
    <a href="/">
      <h2>There has been an error, click to return to home page</h2>
    </a>
  </div>
</div>
  
</body>
</html>
